<h1 appDirectiveTut="90">{{title}}</h1>
<app-user-component></app-user-component>
<!-- <h1>{{ title | customPipe: 2:3 }}</h1> -->

<h1>{{ 50 | farhCelConv: 'c' }}</h1>

<h1 appHostlistener [borderColor]="'orange'">{{ title }}</h1>

<h2 appHostlistener [borderColor]="'pink'" [borderWidth]="5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugiat architecto iste temporibus voluptatum
    corporis quasi, provident expedita, atque velit laborum perspiciatis, tempore libero at consectetur placeat
    accusamus tempora suscipit?</h2>